<!DOCTYPE html>
<html>
  <head>
    <html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Snazzie, static site generator, Hannah Nordgren, front end developer tools">
    <meta property="og:title" content="Snazzie">
    <meta property="og:description" content="The Static Site Generator That Deploys to Github Pages.">
    <meta property="og:image" content="https://res.cloudinary.com/ninjaofawesome/image/upload/v1492610386/hannah/projects/snazzie_image.svg">
    <meta property="og:url" content="https://github.com/ninjaofawesome/snazzie">
    <meta property="twitter:title" content="Snazzie">
    <meta property="twitter:description" content="HThe Static Site Generator That Deploys to Github Pages.">
    <meta property="twitter:image" content="https://res.cloudinary.com/ninjaofawesome/image/upload/v1492610386/hannah/projects/snazzie_image.svg">
    <meta name="twitter:image:alt" content="Snazzie Static Site Generator">
    <meta property="twitter:url" content="https://github.com/ninjaofawesome/snazzie">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="fb:app_id" content="" />
    <link rel="shortcut icon" href="https://res.cloudinary.com/ninjaofawesome/image/upload/v1492608954/hannah/projects/favicon.ico" />
    <title>The Static Site Generator That Deploys to Github Pages | Snazzie</title>
      <!-- build:css css/styles.min.css -->
          <link rel="stylesheet" type="text/css" href="./css/styles.css">
      <!-- endbuild -->
  </head>
  <body>
   <!--  to test out whatever preprocessor you choose to use, remove the classes not relevant.  Feel free to set up your file structures in those directories as you see fit. -->
    <h1 class='stylus-text sass-text less-text' style="text-align: center;">Hello World</h1>

    <!--build:js js/main.min.js -->
    <!-- endbuild -->
  </body>
</html>